<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Budgtr</title>
    

    <script defer src="/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/skeleton.css" />
</head>

<body>  <%- include('./partials/header.ejs')%>
  
  

  <script type="text/javascript">
function calc()
{
  const budget = require('./models/budget.js');
  let sum = 0;

for (let i = 0; i < budget.length; i++) {
  sum += budget[i].amount;



document.getElementById('sum').innerHTML = sum;
}
</script>

<div id="sum"></div>


  <main>
   



<table class="u-full-width">

  <tbody>

<% for(let i = 0; i < budget.length; i++) { %>

  <tr>
    
    <td>  <%= budget[i].date %></td>
    <td>  <a href="/budget/<%=i%>"> <%= budget[i].name %></a> </td>
    <td> $ <%= budget[i].amount %>  </td>

  <!-- <td> <form action="/budget/<%= [0] %>?_method=DELETE" method="POST">
      <input type="submit" value="DELETE" />
    </form></td> -->
   
</tr>


<% } %>

  
      


</tbody>
</table>

</main>
   
</body>

  
</html>